@import url('https://fonts.googleapis.com/css2?family=Anuphan:wght@100..700&family=IBM+Plex+Sans+Thai:wght@100..700&display=swap');
@import "tailwindcss";

@theme {
  --font-sans: "Anuphan", "IBM Plex Sans Thai", ui-sans-serif, system-ui, sans-serif;
  --font-display: "Anuphan", sans-serif;
  --color-brand: #6b8a25;
  --color-brand-light: #8ca641;
  --color-brand-dark: #4d631b;
}

@layer base {
  body {
    @apply font-sans antialiased;
  }
}
